<!DOCTYPE html>
<html lang="ja" data-sticky-footer="true">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta name="description" content="description" />
  <script src="lib/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>要素ボーダー</title>
</head>

<body>
  <div class="container">
    <p class="title">要素ボーダー</p>

    <button class="cls-element" id="id-img" name="#B33D5A">img タグ</button>
    <button class="cls-element" id="id-p" name="#335555">p タグ</button>
  </div>
</body>
<script src="js/popup.js"></script>

</html>